* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
H1 {
  font-size: 2.5rem;
  color: #413434;
  padding: 20px;
  text-align: center;
}
h2 {
  font-size: 2rem;
  color: #f72904;
  padding: 15px;
  text-align: center;
}
p2 {
  font-size: 1.2rem;
  color: #13110b;
  padding: 10px;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  color: #072920;
  padding: 30px;
  text-align: center;
}
H4 {
  font-size: 1.5rem;
  color: #000000;
  padding: 8px;
  text-align: center;
}
ul {
  list-style-type: square;
  padding-left: 20px;
}
LI {
  font-size: 1.2rem;
  color: #e7760b;
  padding: 5px;
  text-align: left;
}
H5 {
  font-size: 2rem;
  color: hwb(246 10% 21%);
  padding: 25px;
  text-align: center;
}
p5 {
  font-size: 13px;
  background-color: hsla(29, 86%, 49%, 0.925);
  padding: 10px;
  text-align: center;
}
