*{
  margin: 0;
  padding: 0; 
}
h1{
  font-size: 50px;
  color: #f30606;
  text-align: center;
}
h2{
  font-size: 30px;
  color: hsl(258, 84%, 37%);
  text-align: center;
}
p1{
  font-size: 20px;
  color: hsl(44, 82%, 46%);
  text-align: left;
}
h3{
  font-size: 30px;
  color: hsl(0, 0%, 0%);
  text-align: left;
}
h4{
  font-size: 30px;
  color: hsl(0, 100%, 2%);
  text-align: left;
}
p2{
  font-size: 20px;
  color: hsl(36, 90%, 37%);
  text-align: center;
}
p3{
  font-size: 20px;
  color: hsl(231, 33%, 4%);
  text-align: center;
}
p4{
  font-size: 20px;
  color: hsl(35, 75%, 3%);
  text-align: center;
}
p5{
  font-size: 20px;
  color: hsl(230, 27%, 4%);
  text-align: center;
}
p6{
  font-size: 20px;
  color: hsl(0, 0%, 0%);
  text-align: right;
}
h5{
  font-size: 30px;
  color: hsl(0, 100%, 2%);
  text-align: center;
}
p7{
  font-size: 20px;
  color: hsl(36, 90%, 37%);
  text-align: center;
}
