* { margin: 0; padding: 0; box-sizing: border-box; 
font-family: 'Poppins', sans-serif; 
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
H1 {
    font-size: 2.5rem;
    color: #333;
    padding: 20px;
    text-align: center;
}
h2 {
    font-size: 2rem;
    color: #555;
    padding: 15px;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    color: #777;
    padding: 10px;
    text-align: center;
}H4 {
    font-size: 1.2rem;
    color: #999;
    padding: 5px;
    text-align: center;
}
H5 {
    font-size: 2rem;
    color: hwb(246 10% 21%);
    padding: 25px;
    text-align: center;
}
p3 {
    font-size: 1rem;
    color: hsl(6, 89%, 11%);
    padding: 10px;
    text-align: center;
}
